* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.wrapper-form-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-page {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90vw;
    margin: 50px auto;
    border: 2px solid white;
    box-shadow: -5px -5px 30px 5px rgba(0, 0, 0, 0.2), 5px 5px 30px 5px rgba(0, 0, 0, 0.2);
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
    z-index: 2;
    position: relative;
}

.form-image img {
    max-width: 100%;
    max-height: 100%;
    height: 596px;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 45vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-content {
    font-size: 70px;
}

.form-page .form-content .form-layout ol .form-layout-div {
    margin: 50px 40px 40px 40px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

.form-page .form-content .form-layout ol .form-layout-div li {
    margin: 30px;
}

.form-page .form-content .form-layout ol .form-layout-div input[type=text] {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    outline: none;
    margin: 24px 2.3vw 24px 1.3vw;
    padding: 5px 0;
    width: 40%;
    font-size: 18px;
    cursor: pointer;
}

.form-page .form-content .form-layout ol .form-layout-div label[for=district] {
    margin-top: 10px;
    font-size: 24px;
    margin-left: 20px;
    display: block;
}

.form-page .form-content .form-layout ol .form-layout-div .form-control-district {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 2px;
    cursor: pointer;
}

.form-page .form-content .form-layout ol .form-layout-div label[for=type] {
    font-size: 24px;
    font-weight: normal;
}

.form-page .form-content .form-layout ol .form-layout-div .checkbox {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
}

.form-page .form-content .form-layout ol .form-layout-div input[type=checkbox] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-page .form-content .form-layout ol .form-layout-div input[type=radio] {
    width: 18px;
    height: 18px;
    margin: 0 15px 0 10px;
    cursor: pointer;
}

.form-page .form-content .form-layout ol .form-layout-div .hard-copy-div {
    font-weight: normal;
}

.form-page .form-content .form-layout ol .form-layout-div #date-div {
    margin-left: 30px;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.form-page .form-content .form-layout ol .form-layout-div #time-div {
    margin-left: 30px;
    font-size: 22px;
    font-weight: normal;
}

.form-page .form-content .form-layout ol .form-layout-div label[for=date] {
    padding: 10px;
}

.form-page .form-content .form-layout ol .form-layout-div label[for=time] {
    padding: 10px;
}

.form-page .form-content .form-layout ol .form-layout-div input[type="date"] {
    width: 160px;
    padding: 15px;
    color: #939393;
    cursor: pointer;
}

.form-page .form-content .form-layout ol .form-layout-div input[type="time"] {
    width: 160px;
    padding: 15px;
    color: #939393;
    cursor: pointer;
}

.form-page .form-content .form-layout ol #date-time {
    margin-bottom: 100px;
}

.form-buttons input {
    background-color: #af66f3;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}






/* --------------------------------------------------- Responsive Form Code --------------------------------------------------- */


@media screen and (min-width: 465px) and (max-width:599px) {

    .form-page {
        margin: 30px;
    }

    .form-page .form-content .form-layout ol .form-layout-div {
        font-size: 13px;
        font-weight: bold;
    }

    .form-page .form-content .form-layout ol .form-layout-div li {
        margin: 0.5px 0;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=text] {
        margin: 10px 3.8vw 10px 2.5vw;
        font-size: 6px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=district] {
        font-size: 10px;
        margin-left: 5px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .form-control-district {
        font-size: 8px;
        margin-left: 5px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=checkbox] {
        width: 8px;
        height: 8px;

    }

    .form-page .form-content .form-layout ol .form-layout-div .checkbox {
        font-size: 6px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=type] {
        font-size: 7px;
        font-weight: normal;
    }

    .form-page .form-content .form-layout ol .form-layout-div .hard-copy-div {
        font-size: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=radio] {
        width: 8px;
        height: 8px;
        margin: 0 10px 0 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #date-div {
        margin-left: 1px;
        font-size: 10px;
        margin-bottom: 20px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #time-div {
        margin-left: 1px;
        font-size: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type="time"] {
        width: 80px;
        padding: 3px;
        font-size: 8px;
    }


    .form-page .form-content .form-layout ol .form-layout-div input[type="date"] {
        width: 80px;
        padding: 3px;
        font-size: 8px;
    }


    .form-buttons input {
        padding: 12px;
        font-size: 12px;
    }

}


@media screen and (min-width: 600px) and (max-width:767px) {

    .form-page {
        margin: 35px;
    }

    .form-page .form-content .form-layout ol .form-layout-div {
        font-size: 17px;
        font-weight: bold;
    }

    .form-page .form-content .form-layout ol .form-layout-div li {
        margin: 2px 0;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=text] {
        margin: 12px 2.2vw 12px 1.1vw;
        font-size: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=district] {
        font-size: 14px;
        margin-left: 5px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .form-control-district {
        font-size: 10px;
        margin-left: 5px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=checkbox] {
        width: 10px;
        height: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .checkbox {
        font-size: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=type] {
        font-size: 10px;
        font-weight: normal;
    }

    .form-page .form-content .form-layout ol .form-layout-div .hard-copy-div {
        font-size: 14px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=radio] {
        width: 10px;
        height: 10px;
        margin: 0 10px 0 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #date-div {
        margin-left: 1px;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #time-div {
        margin-left: 1px;
        font-size: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type="time"] {
        width: 90px;
        padding: 3px;
        font-size: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type="date"] {
        width: 90px;
        padding: 3px;
        font-size: 10px;
    }

    .form-buttons input {
        padding: 12px;
        font-size: 14px;
    }
}


@media screen and (min-width: 768px) and (max-width:991px) {

    .form-page {
        margin: 33px;
    }

    .form-page .form-content .form-layout ol .form-layout-div {
        font-size: 18px;
        font-weight: bold;
    }

    .form-page .form-content .form-layout ol .form-layout-div li {
        margin: 8px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=text] {
        margin: 12px 6.2vw 12px 2.1vw;
        font-size: 12px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=district] {
        font-size: 16px;
        margin-left: 5px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .form-control-district {
        font-size: 12px;
        margin-left: 5px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=checkbox] {
        width: 11px;
        height: 11px;

    }

    .form-page .form-content .form-layout ol .form-layout-div .checkbox {
        font-size: 11px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=type] {
        font-size: 11px;
        font-weight: normal;
    }

    .form-page .form-content .form-layout ol .form-layout-div .hard-copy-div {
        font-size: 17px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=radio] {
        width: 12px;
        height: 12px;
        margin: 0 10px 0 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #date-div {
        margin-left: 1px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #time-div {
        margin-left: 1px;
        font-size: 14px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type="time"] {
        width: 120px;
        padding: 5px;
    }


    .form-page .form-content .form-layout ol .form-layout-div input[type="date"] {
        width: 120px;
        padding: 5px;
    }

}


@media screen and (min-width: 992px) and (max-width:1249px) {

    .form-page .form-content .form-layout ol .form-layout-div {
        font-size: 24px;
        font-weight: bold;
    }

    .form-page .form-content .form-layout ol .form-layout-div li {
        margin: 12px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=text] {
        margin: 16px 2.2vw 16px 1.1vw;
        font-size: 14px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=district] {
        font-size: 18px;
        margin-left: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .form-control-district {
        font-size: 12px;
        margin-left: 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=checkbox] {
        width: 14px;
        height: 14px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .checkbox {
        font-size: 12px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=type] {
        font-size: 16px;
        font-weight: normal;
    }

    .form-page .form-content .form-layout ol .form-layout-div .hard-copy-div {
        font-size: 17px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=radio] {
        width: 12px;
        height: 12px;
        margin: 0 10px 0 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #date-div {
        margin-left: 20px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #time-div {
        margin-left: 20px;
        font-size: 16px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type="time"] {
        width: 120px;
        padding: 10px;
    }


    .form-page .form-content .form-layout ol .form-layout-div input[type="date"] {
        width: 120px;
        padding: 10px;
    }

}


@media screen and (min-width: 1250px) and (max-width:1415px) {

    .form-page .form-content .form-layout ol .form-layout-div {
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 1px;
    }

    .form-page .form-content .form-layout ol .form-layout-div li {
        margin: 16px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=text] {
        margin: 24px 2.3vw 24px 1.2vw;
        font-size: 16px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=district] {
        font-size: 20px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=checkbox] {
        width: 20px;
        height: 20px;
    }


    .form-page .form-content .form-layout ol .form-layout-div .form-control-district {
        font-size: 15px;
    }

    .form-page .form-content .form-layout ol .form-layout-div .checkbox {
        font-size: 16px;
    }

    .form-page .form-content .form-layout ol .form-layout-div label[for=type] {
        font-size: 22px;
        font-weight: normal;
    }

    .form-page .form-content .form-layout ol .form-layout-div .hard-copy-div {
        font-size: 22px;
    }

    .form-page .form-content .form-layout ol .form-layout-div input[type=radio] {
        width: 16px;
        height: 16px;
        margin: 0 15px 0 10px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #date-div {
        margin-left: 20px;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .form-page .form-content .form-layout ol .form-layout-div #time-div {
        margin-left: 20px;
        font-size: 18px;
    }

}