* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper {
    border: 8px solid black;
    position: relative;
}

.main-wrapper .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    background-color: #505050;
    color: #fcfcfc;
    text-align: center;
    font-size: 68px;
    padding: 20px;
    margin: 0;
    font-weight: bold;
}

.main-wrapper .navigation-bar .menu {
    background-color: #7F7F7F;
    overflow: hidden;
    position: fixed;
    top: 118px;
    width: 100%;
    z-index: 1;
}

.main-wrapper .navigation-bar .menu li {
    display: inline-block;
    padding: 8px;
}

.main-wrapper .navigation-bar .menu li:hover {
    background-color: black;

}

.main-wrapper .navigation-bar .menu li:nth-child(2):hover #dropdown_1,
.main-wrapper .navigation-bar .menu li:nth-child(3):hover #dropdown_2 {
    display: block;
}

.main-wrapper .navigation-bar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 26px;
}

.main-wrapper .navigation-bar #dropdown_1,
.main-wrapper .navigation-bar #dropdown_2 {
    display: none;
    background-color: whitesmoke;
    top: 164px;
    padding: 0;
    width: auto;
    max-width: 150px;
    z-index: 1;
    position: fixed;
}

.main-wrapper .navigation-bar #dropdown_1 li,
.main-wrapper .navigation-bar #dropdown_2 li {
    display: block;
}

.main-wrapper .navigation-bar #dropdown_1 li:hover,
.main-wrapper .navigation-bar #dropdown_2 li:hover {
    background-color: #F5F5F5;
}

.main-wrapper .navigation-bar #dropdown_1 li a,
.main-wrapper .navigation-bar #dropdown_2 li a {
    color: #5f8cbd;
    font-size: 18px;
}

.main-wrapper .navigation-bar #dropdown_1 li a:hover,
.main-wrapper .navigation-bar #dropdown_2 li a:hover {
    background-color: #dcdcdc;
}

.main-wrapper #slider {
    margin-top: 180px;
    position: relative;
    left: 50%;
    width: 99%;
    overflow: hidden;
    border: 2px solid steelblue;
    transform: translate(-50%, 1%);
    margin-bottom: 0.5%;
}

.main-wrapper #slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;
}

.main-wrapper #slider figure img {
    width: 20%;
    float: left;
    display: block;
    max-height: 280px;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

.main-wrapper .product-cards {
    margin-top: 40px;
}

.main-wrapper .product-cards h3 {
    font-size: 38px;
    padding: 10px;
}

.main-wrapper .product-cards .gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 30px 0;
}

.main-wrapper .product-cards .gallery .content {
    width: 20%;
    min-width: 250px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    background-color: #f3f3fd;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.20);
}

.main-wrapper .product-cards .gallery .content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.24);
    transform: scale(1.05);
}

.main-wrapper .product-cards .gallery .content img {
    width: 270px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.main-wrapper .product-cards .gallery .content h3 {
    font-size: 25px;
    margin-left: 10px;
}

.main-wrapper .product-cards .gallery .content p {
    font-size: 18px;
    color: #2d80e6;
    padding: 0 8px;
}

.main-wrapper .product-cards .gallery .content button {
    text-align: center;
    width: 98%;
    border: none;
    background-color: #e6e6fa;
    color: #ffa400;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    border: 2px solid rgba(69, 69, 253, 255);
    border-radius: 10px;
    padding: 2px;
}

.main-wrapper .product-cards .gallery .content button:focus {
    background-color: rgb(250, 234, 230);
    border-color: rgb(0, 255, 76);
}

.main-wrapper .footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 22px;
    font-size: 20px;
    text-align: center;
}





/* ------------------------------------------------------ Responsive Code ------------------------------------------------------ */


@media screen and (min-width: 465px) and (max-width:599px) {

    .main-wrapper #slider figure img {
        height: 240px;
    }

    .main-wrapper .product-cards .gallery {
        display: grid;
        grid-auto-flow: row;
    }

    .main-wrapper .product-cards .gallery .content {
        width: 360px;
    }

}


@media screen and (min-width: 600px) and (max-width:767px) {

    .main-wrapper #slider figure img {
        height: 240px;
    }

    .main-wrapper .product-cards .gallery {
        display: grid;
        grid-auto-flow: row;
    }

    .main-wrapper .product-cards .gallery .content {
        width: 10px;
    }

    .main-wrapper .product-cards .gallery .content img {
        width: 230px;
    }

}


@media screen and (min-width: 768px) and (max-width:991px) {

    .main-wrapper .product-cards .gallery {
        display: grid;
        grid-template-rows: repeat(2, 400px);
        grid-auto-flow: column;
        column-gap: 30px;
    }

    .main-wrapper .product-cards .gallery .content {
        width: 300px;
    }

}


@media screen and (min-width: 992px) and (max-width:1249px) {

    .main-wrapper .product-cards .gallery {
        display: grid;
        grid-template-rows: repeat(2, 400px);
        grid-auto-flow: column;
        column-gap: 30px;
    }

    .main-wrapper .product-cards .gallery .content {
        width: 400px;
    }

    .main-wrapper .product-cards .gallery .content img {
        width: 380px;
    }

}


@media screen and (min-width: 1250px) and (max-width:1415px) {
    .main-wrapper .product-cards .gallery {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin: 10px 0;
    }

    .main-wrapper .product-cards .gallery .content {
        width: 20%;
        min-width: 250px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .main-wrapper .product-cards .gallery .content img {
        width: 230px;
    }

}